.blog-wrap {
	max-width: 1200px;
	margin: 20px auto;
}

.blog-wrap article {
	margin: 0 0 40px 0;
}

.blog-wrap .article-wrap {
	box-shadow: 0 .15em .35em rgba(0,0,0,.13);
}

.blog-wrap article .blog-title {
	font-size: 28px;
	margin: 0 0 15px 0;
	font-weight: 600;
}

.blog-wrap article .blog-title a:hover {
	color: #ff9900;
}

.blog-wrap article .excerpt {
	margin: 0 0 15px 0;
    line-height: 1.8em;
}

.blog-wrap article .content {
    margin: 30px 0 0 0;
    line-height: 1.8em;
}

.blog-wrap article .content h3 {
    margin: 30px 0 15px 0;
}

.blog-thumbnail {
    position: relative;
    overflow: hidden; 
}

.blog-wrap article .blog-thumbnail img {
	display: block;
	width: 100%;
	height: auto;
    transition: transform 0.4s ease, filter 0.4s ease;
    transform: scale(1.01);
}

.blog-wrap article .blog-thumbnail:hover img {
    transform: scale(1.08);
    filter: brightness(0.95);
}

.blog-wrap article .blog-content {
	padding: 25px;
	line-height: 1.5em;
	background: #ffffff;
}

.tags {
	margin: 5px 0 0 0;
}

.tags li {
	display: inline-block;
}

.tags li a {
	display: block;
    position: relative;
    margin: .615em .615em 0 0;
    border: 1px solid #ddd;
    border: 1px solid rgba(0, 0, 0, .125);
    padding: .692em 1.154em .769em;
    font-size: 13px;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    color: #333333;
    background-color: transparent;
    border-radius: .35em;
    box-shadow: inset 0 0 rgba(0, 0, 0, 0), 0 1px 1px rgba(255, 255, 255, .95);
}

.tags li a:hover {
	background: #ffffff;
}

.tag-header {
	margin: 20px 0 40px 0;
	font-size: 22px;
	text-align: center;
}

.tag-header strong {
	font-weight: 500;
}

.pagination {
    text-align: center;
}

.pagination .page-numbers {
	display: inline-block;
    margin: 0 3px;
    width: 32px;
    height: 32px;
    font-size: 13px;
    font-weight: 400;
    line-height: 32px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .85);
    color: #bababa;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: inset 0 0 rgba(0, 0, 0, 0), 0 .1em .45em rgba(0, 0, 0, .25);
    text-align: center;
}

.pagination .page-numbers.current {
    background: #edb734;
    color: #000000;
}

.post-share {
    margin: 30px 0 0 0;
}

.post-share .label {
    font-weight: 500;
    margin: 0 0 10px 0;
}

/* 
    ----------------------------------------------------------------
    Article elements
    ----------------------------------------------------------------
*/

.blog-wrap .article-wrap a:not(._btn) {
    color: #ff9900;
}

.blog-wrap .article-wrap a:not(._btn):hover {
    text-decoration: underline;
}

.blog-wrap .article-wrap ._btn {
    width: fit-content;
}

.blog-wrap .article-wrap p {
    margin: 10px 0;
}

.blog-wrap .article-wrap .alignright {
    float: right;
    margin: 0 0 0 10px;
}

.blog-wrap .article-wrap .alignright:after {
    clear: both;
}

.blog-wrap .article-wrap .alignleft {
    float: left;
    margin: 0 10px 0 0;
}
.blog-wrap .article-wrap strong {
    font-weight: 600;
}