.group-item {
	margin: 0 0 60px 0;
}

.faq-wrap {
	display: grid;
	grid-template-columns: 1.2fr 0.8fr;
	gap: 60px ;
}

.faq-item {
	margin: 0 0 20px 0;
}

.faq-content {
	display: block;
	line-height: 1.5em;
}

.faq-content a {
	color: #ff9900;
}

.faq-content a:hover {
	text-decoration: underline;
}

.faq-content-inner {
	padding: 15px 30px 0px 30px;
}

.faq-toggle-all {
	margin: 0 0 20px 0;
    display: inline-flex !important;
    align-items: center !important;
    gap: 6px;                      
}

.faq-toggle-all:hover {
    background: #d6a530;
}

.faq-toggle-all i {
    transition: transform 0.3s;
    margin: 0 3px 0 0;
}

.faq-title {
    cursor: pointer;
    transition: color 0.3s;
    font-size: 20px;
    font-weight: 600;
	display: inline-flex;
    align-items: center;
    gap: 6px;
}

.faq-title.active {
    
}

.faq-title i.lni {
    font-style: normal;
    width: 25px;
    color: #ff9900;
    font-size: 25px;
    font-weight: 700;
    display: inline-block;
}

.faq-wrap > :first-child {
	margin-top: 24px;
}

.faq-wrap h3 {
	text-decoration: underline;
	margin: 30px 0;
}

.test { color: #fff;}