/* 
	----------------------------------------------------------------
	Middle Section
	----------------------------------------------------------------
*/

.main-mid {

}

.home-img-spacer {
	display: block;
	width: 2000px;
	margin-bottom: -120px;
	flex-shrink: 0;
}

/* 
	----------------------------------------------------------------
	Home row 1
	----------------------------------------------------------------
*/

.home-row-1 {
	padding: 0 0 50px 0;
}

.home-hero-wrap {
	max-width: 700px;
	box-sizing: border-box;
	margin: 0 auto 20px auto;
	line-height: 1.8em;
}

.home-hero {
	display: grid;
	grid-template-columns: 1fr 200px;
	gap: 2rem;
}

.home-hero-img {
	display: block;
	width: 200px;
}

.home-stats-wrap {
	max-width: 700px;
	box-sizing: border-box;
	margin: 0 auto;
	background: #edb734;
	border-radius: 13px;
	border: 5px solid #ffffff;
	padding: 20px;
	text-align: center;
}

.home-stats-numbers {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	margin: 0 auto;
	width: 90%;
}

.home-stats-number {
	background: #f1d128;
	border-radius: 10px;
	padding: 30px 10px;
}

.home-stats-number h4 {
	margin: 0 0 10px 0;
}

.home-stats-number span {
    margin: 5px 0 0 0;
    font-size: 40px;
    display: block;
    font-weight: 700;
}

.home-stats-heading {
    margin: 15px 0;
    font-size: 30px;
    font-weight: 500;
}

.home-stats-search {
	margin: 0 auto 10px auto;
	max-width: 70%;
	display: grid;
	grid-template-columns: calc(80% - 10px) 20%;
	gap: 10px;
}

.home-stats-search input.search-txt {
    box-sizing: border-box;
	display: block;
    border: 1px solid #ddd;
    font-size: 16px;
    line-height: normal;
    color: #555;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .07);
    border-radius: 3px;
    padding: 10px;
    width: 100%;
    height: 43px;
    text-align: center;
}

.home-stats-search input.search-txt:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255,153,0,0.35);
    border-color: #ff9900;
}

.home-stats-search input.search-txt.not-found {
    border: 1px solid red;
}

.home-stats-search-wrap {
	position: relative;
	box-sizing: border-box;
}

.home-stats-search .search-btn {
    background: #ff9900;
    color: #fff;
    padding: 14px 12px 10px 12px;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    font-weight: 600;
    position: relative;
}

.home-stats-search .search-btn:hover {
    background: #e68900;
}

.home-stats-content {
	font-size: 19px;
}

.home-lang-slider__track {
    display: none;
}

.home-lang-slider {
	max-width: 700px;
	box-sizing: border-box;
	margin: 40px auto 10px auto;
    text-align: center;
    padding: 1rem;
    display: block;
    position: relative;
    border-left: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
}

.home-lang-slider .slick-prev,
.home-lang-slider .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 42px;
    height: 42px;
    padding: 25px;
    border: 4px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    font-size: 32px;
    line-height: 1;
    background: none;
}

.home-lang-slider .slick-prev:hover,
.home-lang-slider .slick-next:hover {
    background: rgba(255,255,255,0.45);
}

.home-lang-slider .slick-prev { left: -120px; }
.home-lang-slider .slick-next { right: -120px; }

.home-lang-slide img {
    width: 90px;
    display: block;
    margin: 15px auto;
}

.home-lang-slide img:hover {
	transform: scale(1.1);
}

.home-lang-slide h5 {
	font-weight: 500;
    font-size: 14px;
    line-height: 1.2em;
}

.home-lang-btn-wrap {
	text-align: center;
	margin: 20px auto 0 auto;
	width: fit-content;
}

.home-lang-btn-wrap a {
	width: 100%;
	max-width: 400px;
}

.library-list {
	display: none;
}

#suggestions{
	position: absolute;
	top: 95%;
	left: 1px;
	right: 1px;
	background: #fff;
	max-height: 200px;
	overflow-y: auto;
	list-style: none;
	padding: 0;
	margin: 4px 0 0;
	z-index: 10;
}

#suggestions li {
    padding: 7px 10px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #efefef;
}

#suggestions li:hover {
	background: #f2f2f2;
}

/* 
	----------------------------------------------------------------
	Home row 2
	----------------------------------------------------------------
*/

.home-row-2 {
	/*background-image: url('../img/branch-right.png');*/
	background-color: #fbebcd;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100% auto;
	padding-top: 150px;
	padding-bottom: 100px;
}

.home-story-slider__track {
    display: none;
}

.home-story-slider {
	max-width: 850px;
	box-sizing: border-box;
	margin: 40px auto 10px auto;
    text-align: center;
    display: block;
    position: relative;
}

.home-story-slider .slick-prev,
.home-story-slider .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 42px;
    height: 42px;
    padding: 25px;
    border: 4px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    font-size: 32px;
    line-height: 1;
    background: none;
    font-weight: bold;
}

.home-story-slider .slick-prev:hover,
.home-story-slider .slick-next:hover {
    background: rgba(255,255,255,0.45);
}

.home-story-slider .slick-prev { left: -120px; }
.home-story-slider .slick-next { right: -120px; }

.home-story-slide img {
    width: 100%;
    display: block;
    margin: 15px auto;
    border: 5px solid #ffffff;
    box-sizing: border-box;
}

.home-lang-slide img:hover {
	transform: scale(1.1);
}

/* 
	----------------------------------------------------------------
	Home row 3
	----------------------------------------------------------------
*/

.home-row-3__before {
	margin-top: -90px;
}

.home-row-3 {
	/*background-image: url('../img/branch-left.png');*/
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100% auto;
	padding-top: 110px;
	padding-bottom: 20px;
}

.home-video-wrap {
	max-width: 850px;
	box-sizing: border-box;
	margin: 40px auto 20px auto;
    text-align: left;
    display: block;
    position: relative;
	line-height: 1.8em;
}

.home-video-wrap h3 i {
	font-weight: normal;
	font-style: italic;
}

.home-video-wrap .video {
	margin: 20px 0 0 0;
	aspect-ratio: 16 / 9;
	width: 100%;   
}

.home-video-wrap .video iframe {
	width: 100%;
	height: 100%;
	display: block;  
}

.home-video-btns {
	margin: 0 auto;
	text-align: center;
	width: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.home-video-btns a {
	margin: 0 5px;
}

/* 
	----------------------------------------------------------------
	Home row 4
	----------------------------------------------------------------
*/

.home-row-4 {
	/*background-image: url('../img/branch-right.png');*/
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100% auto;
	background-color: #fbebcd;
	padding-top: 100px;
	padding-bottom: 40px;
}

.home-reviews-wrap {
	max-width: 700px;
	box-sizing: border-box;
	margin: 40px auto 10px auto;
    text-align: center;
    display: block;
    position: relative;
    text-align: left;
}

.home-reviews-slider__track {
    display: none;
}

.home-reviews-slider {
	max-width: 700px;
	box-sizing: border-box;
	margin: 40px auto 10px auto;
    text-align: center;
    display: block;
    position: relative;
    border-left: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
    padding: 20px 30px;
}

.home-reviews-slider .slick-prev,
.home-reviews-slider .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 42px;
    height: 42px;
    padding: 25px;
    border: 4px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    font-size: 32px;
    line-height: 1;
    background: none;
}

.home-reviews-slider .slick-prev:hover,
.home-reviews-slider .slick-next:hover {
    background: rgba(255,255,255,0.45);
}

.home-reviews-slider .slick-prev { left: -120px; }
.home-reviews-slider .slick-next { right: -120px; }

.review-item-wrap {
	display: grid;
	grid-template-columns: 1fr 200px; 
	align-items: center;
	gap: 1rem;
	line-height: 1.5em;
}

.review-item-wrap p {
	text-align: left;
	font-style: italic;
}

.review-item-wrap img
{
	display: block;
	width: 200px;
}

.review-item-wrap p span {
	display: block;
	margin-top: 10px;
}