.mobile-app-wrap {
	padding-bottom: 20px;
}

.mobile-app-content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	align-items: center;
}

.main-text {
	line-height: 1.5em;
	width: 70%;
	margin: 20px auto;
}

.main-text h3 {
	text-align: center;
	margin-bottom: 20px;
}

.main-text strong {
	font-weight: 600;
}

.main-text p {
	margin: 10px 0;
}

.main-text a {
	text-decoration: underline;
}

.main-image,
.download-links {
	padding: 20px;
	text-align: center;
}

.download-links p {
	margin: 20px 0;
}

.download-links img {
	display: block;
	margin: 0px auto;
	max-width: 250px;
}

.download-links img:hover {
	transform: translateY(-2px);    
}