.aiovg-player {
    width: 100%;
    aspect-ratio: 16 / 9;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aiovg-player iframe {
    width: 100%;
    height: 100%;
    border: 0;
    display: block;
}


.video-wrapper { 
    background: #000; 
    min-height: auto !important; 
}

/* 
	----------------------------------------------------------------
	Video
	----------------------------------------------------------------
*/

.book-wrap {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 300px;
    gap: 60px;
    align-items: start;
    margin: 0 0 50px 0;
}

.video-wrapper {
	position: relative;
	padding-top: 56.25%; /* 16:9 aspect ratio (9/16 = 0.5625) */
	height: 0;
	overflow: hidden;
	margin: 0 0 20px 0;
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.actions-wrapper {
    float: right;
    position: relative;
    line-height: 1.3em;
    font-size: 14px;
    margin-left: 15px;
    max-width: 290px;
}

.action-item {
	position: relative;	
    padding: 10px 15px;
    border-radius: 5px;
    width: fit-content;
    display: inline-block;
    transition: all .25s ease;
}

.action-item.playback-reminder {
    color: #222222;
    display: block;
    margin: 0 0 15px 0;
    background: rgba(255, 255, 255, 0.5);
}

.playlist-nav-btns {
	margin: 0 0 15px 0;
	display: flex; 
	justify-content: space-between;
	gap: 15px;
}

.playlist-nav-btns > * {
	flex: 1;
}

/* 
	----------------------------------------------------------------
	Book details section below
	----------------------------------------------------------------
*/

.book-info__wrapper {

}

.book-info {
	overflow: hidden;
	width: 65%;
}

.book-info h1,
.book-info .views,
.book-info .date,
.book-info .author,
.book-info .description {
	margin: 0;
	line-height: 1.5em;
}

.book-info .date #js-date,
.book-info .views #js-views,
.book-info .author #js-author {
	background: none;
	padding: 0;
	margin: 0;
}

.book-info h1 {
	margin: 0 0 10px 0;
	font-weight: 600;
}

.book-info .meta {
	margin: 0 0 10px 0;
	display: inline-flex;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
}

.book-info .meta span {
	display: inline-flex;
    align-items: center;
    gap: 6px;
    background: rgba(255, 255, 255, 0.5);
    padding: 3px 10px; 
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
}

.book-info .description {
	font-weight: 500;
}

/* 
	----------------------------------------------------------------
	Playlist sidebar
	----------------------------------------------------------------
*/

.sidebar-title {
	font-size: 20px;
	font-weight: 600;
	margin: 0 0 15px 0;
}

.playlist-list {
	margin: 0 0 0 -15px;
}

.playlist-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin: 0 0 0 0;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0 0 15px 0;
	padding: 0 15px 0px 15px;
	transition: all .25s ease !important;  
}

.playlist-row.active-video { 
    background: #f0f8ff !important;
    cursor: default;
    padding: 15px;
}

.playlist-row .img-wrap {
	position: relative;
	box-sizing: border-box;
}

.playlist-row .img-wrap img {
	width: 100%;
	display: block;
	border-radius: 5px;
	box-shadow: 0 4px 12px rgba(0,0,0,0.08), 
	            0 0 4px rgba(0,0,0,0.06);
}

.playlist-row .img-wrap i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 2px solid #ffffff;
	color: #ffffff;
	border-radius: 10px;
	padding: 3px;
	font-weight: 700;
	background: rgba(0, 0, 0, 0.5);
	transition: all .25s ease !important;  
	font-size: 18px;
	color: #fff;
}

.playlist-row:not(.active-video):hover .img-wrap i {
	color: #f90;
	border-color: #f90;
}

.playlist-row .title-wrap {
	box-sizing: border-box;
	color: #222;
}

.playlist-row:not(.active-video):hover .title-wrap {
	color: #f90;
}

.playlist-row .video-playing {
	display: none;
	margin: 0 0 5px 0;
}

.playlist-row .video-title {
	font-weight: 500; 
	font-size: 14px; 
	line-height: 1.4em;
}

.playlist-row .video-title-english {
	font-size: 13px; 
	margin-top: 2px;
	line-height: 1.3em;
}

.playlist-row.active-video .img-wrap i { 
	display: none;
}

.playlist-row.active-video .video-playing {
	display: block;
} 

.playing {
	width: fit-content;
	font-size: 14px;
	padding-bottom: 6px;
	background: linear-gradient(currentColor 0 0) 0 100%/0% 1px no-repeat;
	animation: l2 2s linear infinite;
}

.playing:before {
	content:"Playing..."
}

@keyframes l2 {to{background-size: 100% 1px}}

/* 
	----------------------------------------------------------------
	End of playlist popup
	----------------------------------------------------------------
*/

.embed__overlay.end-playlist .embed__content {
	line-height: 1.6em;
	text-align: center;
}

.embed__overlay.end-playlist .embed__content a {
	text-decoration: underline;
}

.embed__overlay.end-playlist .embed__content a:hover {
	color: #f90;
}

.embed__overlay.end-playlist .embed__content .avatar {
	width: 300px;
	display: block;
	margin: 20px auto 0 auto;
}