.privacy-wrap {
	margin: auto;
	line-height: 1.8rem;
}

.privacy-wrap * {
	line-height: 1.8rem;
}

.privacy-wrap h1 {
	text-align: center;
	font-size: 25px;
	font-weight: 600;
	margin: 0 0 30px 0;
}

.privacy-wrap h3 {
	font-size: 19px;
	margin: 2rem 0 0.5rem 0;
}

.privacy-wrap ul {
	list-style-type: circle;
	padding-left: 40px;
}

.privacy-wrap ol {
	list-style-type: lower-alpha;
	padding-left: 40px;
}

.privacy-wrap table {
	width: 100%;
	margin: 20px 0 0 0;
}

.privacy-wrap table thead {
	background: #ffffff;
	text-align: left;
	font-weight: 600;
}

.privacy-wrap table tr td,
.privacy-wrap table tr th {
	padding: 10px 15px;
	border: 1px dotted #efefef;
	border-collapse: collapse;
}

.privacy-wrap a:hover {
	color: #ff9900;
}

.main-text {
	line-height: 1.5em;
}

.main-text strong {
	font-weight: 600;
}

.main-text p {
	margin: 10px 0;
}

.main-text a {
	text-decoration: underline;
}

.main-image img {
	display: block;
	margin: 20px auto;
}

.download-wrap {
	float: right;
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 5px;
}