.search-results-wrap {
	display: grid;
	grid-template-columns: 1fr 300px;
	gap: 60px;
}

.search-result-items {
	display: grid;
    grid-template-columns: repeat(4, minmax(0, 300px));
    gap: 60px;
    align-items: start;
    justify-content: space-between;
    margin: 40px 0 80px 0;
}

.search-result-items .result {
	text-align: center;
}

.search-result-items .result .result-img-wrap {
    width: 100%;             
    aspect-ratio: 4 / 3;   
    margin: 0 0 10px 0;
    position: relative;
    overflow: hidden;         
    display: flex;
    align-items: center;
    justify-content: center;  
}

.search-result-items .result .result-img {
    width: 100%;
    height: 95%;
    object-fit: cover;
    border-radius: 5px;
    display: block;
    transition: transform 0.3s ease;
}

.search-result-items .result .result-img-wrap {
	transition: all .25s ease;   
}

.search-result-items .result .result-img-wrap:hover {
	transform: scale(1.05);
}

.search-result-items .result h4 {
    font-weight: 600;
    font-size: 16px;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 1.4em;
}

.result-img-wrap {
	position: relative;
}

.result-img-wrap .flag {
	width: 40px;
	position: absolute;
	bottom: 12px;
	right: 12px;
}