.staff-wrap
{
	max-width: 500px;
	margin: 0 auto 50px auto;
	border: 2px solid #444444;
	border-radius: 20px;
	padding: 80px 50px;
	box-sizing: border-box;
	background: #F5F5F6;
}

.staff-wrap input {
    display: block;
    padding: 8px 12px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cccccc;
    font-size: 14px;
}

.login-username,
.login-password,
.login-remember {
	margin: 0 0 10px 0;
}

.login-username label,
.login-password label {
	margin: 0 0 5px 0;
	display: block;
}

.login-username input,
.login-password input {
	margin: 5px 0 0 0;
}

.login-remember input {
	display: inline-block;
	width: fit-content;
}

.login-submit {
	margin: 20px 0 0 0;
}

.staff-wrap .heading {
	display: grid;
	grid-template-columns: 90px 1fr;
	gap: 10px;
	margin: 0 0 20px 0;
	line-height: 1.2em;
}

.staff-wrap .heading img {
	display: block;
	width: 100%;
}

.staff-wrap .heading .heading__text h2 {
	font-size: 18px;
	font-weight: 500;
	margin: 0 0 10px 0;
}

.staff-wrap .heading .heading__text p {
	font-size: 14px;
}

.error-msg {
	color: red;
	margin: 0 0 10px 0;
	line-height: 1.2em;
}

.error-msg a {
	color: red;
	text-decoration: underline;
}

.error-msg a:hover {
	color: #f90;
}

.button-primary {
	display: inline-block;
	background: #edb734;
	padding: 14px 20px !important;
	font-size: 16px !important;
	box-shadow: 0em .15em .65em 0em rgba(0,0,0,.25);
	border-radius: 10px;
	border: 2px solid #ffffff !important; 
	text-align: center;
	font-weight: 600;
	line-height: 1em;
	cursor: pointer;
	color: #000000;
	box-sizing: border-box;
	white-space: nowrap;
	margin: 20px 0 0 0;

    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 5px;

    transition: all .25s ease;   
}

.button-primary:hover {
	transform: translateY(-2px);    
	box-shadow: 0em .35em 1em rgba(0,0,0,.3); 
	background: #f1c34f; 
	text-decoration: none !important;
}